.svg {
  width: 80%;
  }
  
  .svgcontainer {
    padding: 14%;
    width: 100%;
    position: absolute;
    /* top: 39%; */
    left: 9%;

  }
  
  @media (max-width: 600px){
.svg {
    width: 100%
}
.svgcontainer {
    padding: 5%;
    left: 3%;
    top: 39%;
}
  }

  @media (max-width: 400px){
      .svgcontainer {
       
          left: 4%;
      }
  }