.svg {
  position: relative;
  width: 100%;
  height: auto;
 
  }
  .svgcontainer {
    position: absolute;
    top: 10vh;
    z-index: 5;
    width: 100%;
    padding-left: 8%;
  }
  
  @media (max-width: 650px){

.svgcontainer {
    top: 24%;
    padding-left: 10%;
}
  }
