
:root {
  --black: #161616;
  --white: #dcdcdc;
  --blue: #6531c5;
  --planet: #425b9a;
  --codeBlack: #212529;
}

.bg-black {
  background: var(--black);
}
.bg-background {
  background: var(--white);
}
.white {
  color: var(--white);
}
.black {
  color: var(--black);
}
.code-black {
  color: var(--codeBlack);
}

a {
  text-decoration: none;
  color: inherit;
}

.hamburger {
  z-index: 10;
  position: fixed;
  right: 16px;
  top: 12px;
}
.large-navbar {
  left: 50%;
  z-index: 110 !important;
}
.gitHub-Contributions {
  position: relative;
  z-index: 10;
}

.small-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.margin-top-60 {
  margin-top: 60px;
}

.App {
  width: 100%; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* background: url('./assets/img/bay.jpg'); */
  /* background-size: cover; */
}

.App-header-2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('./assets/img/starbase.jpeg');
  background-size: cover;
}

.header-web-text {
  position: absolute;
  top: 35%;
  font-size: calc(8px + 5vmin);
  z-index: 2;
}

.code-text {
  font-size: 58vw;
  position: absolute;
}

.container-header-image-person {
  position: absolute;
  bottom: 6vh;
  left: 4vw;
  z-index: 9;
  padding-left: 10px;
}

.icon-container {
  visibility: visible;
  max-width: 280px;
  position: relative;
  bottom: -8px;
}

.icon-hover :hover{
transform: scale(1.1);
}

svg {
  overflow: visible !important;
}

.links-small-screen {
  width: 100%;
  padding-top: 64px;
  display: none;
  justify-content: space-evenly;
}
.link-icon {
  width: 19.999%;
  height: auto;
}

.About {
  position: relative;
}
.goo-container {
  height: 100%;
  width: 100%;
}

.videoRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;   
  position: relative;
  z-index: 10;
}

.codeImage {
  width: 100%;
}

@media (max-width: 601px) {
 .goo-container {
   display: none;
 }

.App-logo {
  display: none;
}
.container-header-image-person {
  height: 131px;
  }
 .icon-container {
   visibility: hidden;
 }
  .links-small-screen {
    display: flex;
  }
  .header-web-text {
    top: 15%;
  }
  .App-header-2 {
    background: url('./assets/img/starbase-small.jpeg');
    background-size: cover;
  }
}
